<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP|Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/cuppycake.css" />
    <title>Cuppy Cake Time~ yum yum</title>
</head>

<body>
    <header class="jumbotron text-center">
        <h1 id="title"><span class="pink">Happiness</span> is only a <span class="pink">cupcake</span>  away.</h1>
        <img src="/assets/images/censorcupcake.gif" height="400px" width="200" class="img-responsive" alt="cupcake">
    </header>

    <div class="container text-center">
        {{{ body }}}
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript">
        // changes opacity of the icon on hover
        $(".eat").hover(function () {
            $(this).css({ opacity: 0.5 });
        },
            function () {
                $(this).css({ opacity: 1 });
            });
        $(".trash").hover(function () {
            $(this).css({ opacity: 0.5 });
        },
            function () {
                $(this).css({ opacity: 1 });
            });

        $(".eat").on('click', function (event) {
            let dataid = $(this).data("id");
            $.ajax(`/cupcake/${dataid}`, {
                type: "PUT",
                data: { id: dataid }
            }).then(() => location.reload())
        })

        $(".trash").on('click', function (event) {
            let dataid = $(this).data("id");
            $.ajax(`/cupcake/${dataid}`, {
                type: "DELETE",
                data: { id: dataid }
            }).then(() => location.reload())
        })
    </script>

</body>

</html>